<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true" class="h-full light">

<body class="antialiased flex h-full text-base text-gray-700"
    style="overflow-x: hidden !important;
  overflow-y: scroll !important;
  margin-right: 0 !important;
  position: static !important;">
    <div class="flex grow" id="root"></div>
</body>

</html>